<style>
  .message-content {
    background-color: transparent;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 600px;
    font-size: 20px;
    line-height: 23px;
  }
  p {
    display: block;
  }
</style>

<div class="message-content">
  <p>Olá {{name}}! </p>
  <p>Obrigado por logar no nosso sistema :)</p>
  <p>Equipe API-VENDAS</p>
</div>
