<style>
  .message-content {
    background-color: beige;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 600px;
    font-size: 20px;
    line-height: 23px;
  }
  p {
    display: block;
  }
</style>

<div class="message-content">
  <p>Olá {{name}}! </p>
  <p>Recebemos sua solicitaçãa redefinição de senha para sua conta</p>
  <p>Se realmente foi você que solicitou, clique no linke abaixo para redefinir sua senha</p>
  <p>
    <a href="{{link}}">Trocar senha</a>
  </p>

  <p>Caso vc não tenha realizado essa solicitação, descarte esse email</p>

  <p>Obrigado!!</p>
  <p>Equipe pedroca</p>
</div>
